Source: bluez-firmware
Section: non-free/kernel
Priority: optional
Maintainer: Debian Bluetooth Maintainers <pkg-bluetooth-maintainers@lists.alioth.debian.org> 
Uploaders: Filippo Giunchedi <filippo@debian.org>, Nobuhiro Iwamatsu <iwamatsu@debian.org>
Build-Depends: debhelper (>= 5), autotools-dev, cdbs
Standards-Version: 3.7.2

Package: bluez-firmware
Architecture: all
Depends: ${shlibs:Depends}
Description: Firmware for Bluetooth devices
 This firmware is required for operation of Bluetooth dongles based on
 the Broadcom BCM203x chipset.
